<div class="buscador">
  <input type="text" [formControl]="searchControl" placeholder="Buscar por nombre o código">
</div>

<input
  #barcodeInput
  type="text"
  (keydown.enter)="onBarcodeScanned(barcodeInput.value)"
  style="position: absolute; opacity: 0; height: 0; width: 0"
/>

<div class="tabla-productos">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productosMostrados"
          (click)="seleccionarProducto(p)"
          [class.seleccionado]="productoSeleccionado?.id === p.id">
        <td>{{ p.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="detalle-producto" *ngIf="productoSeleccionado">
  <strong>{{ productoSeleccionado?.nombre }}</strong>

  <div class="detalle-codigo-precio">
    <div class="detalle-codigo">
      <span>Código</span>
      <strong>{{ productoSeleccionado?.codigo }}</strong>
    </div>
    <div class="detalle-precio">
      <span>Precio</span>
      <strong>${{ productoSeleccionado?.precioVenta }}</strong>
    </div>
  </div>
</div>
